target
.idea
src/main/java/com/student/misc/*
src/main/webapp/nav.jsp
src/main/webapp/footer.jsp
src/main/webapp/tables.jsp
src/main/webapp/gender-enums.jsp
src/main/webapp/show-course.jsp
src/main/webapp/show-course.jsp
demo.txt
